html {
  background-color: #8AE7FF; 
  color: black; 
  font-style: Courier;

}

img { 
	width: 50px;
    height: 50px;
    border: 1px solid #73AD21;
    margin: 0px 50px 0px 50px;
}

.bold {
	font-weight: bold;
}

p img {

	width: 300px;
    height: 100px;
}

#tap {
	color: red;
	font-weight: bold;
}


