html {
  background-color: #00717F; 
  color: black; 
  font-style: Arial;
}

header {
		text-align: center;
  		margin: 0 auto;
  		text-align: center;
  		
	}

header h1 {
  font-size: 5em;
  margin: 0 1 0 1;
}

header table {

	display: inline-block;
}

table, th, td {

	border: 1px solid black;
}

nav { text-align: center;
	  margin-left: 30%;
	  margin-right: 30%;
	  font-size: 1.5em;
	  color: black;
	  background-color: #43CFE8;
}


 
header img { 
	width: 100px;
    height: 100px;
    border: 1px solid #73AD21;
    margin: 0px 50px 0px 50px;


    

